body {
  background-color: #000;
  color: #fff;
}

span.green {
  color: green;
  border-bottom: 1px solid green;
  border-top: 1px solid green;
}

span.red {
  color: red;
  border-bottom: 1px solid red;
  border-top: 1px solid red;
}
